{% extends "admin/base.html" %}
{% block footer %}
<div id="footer">
<a href="https://chronicle.horizon.ac.uk/terms.html">Terms &amp; Conditions</a> |
<a href="https://chronicle.horizon.ac.uk/terms.html">Privacy Policy</a> |
<a href="https://chronicle.horizon.ac.uk/terms.html">Cookie Policy</a>
</div>
{% endblock %}
