{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Index | In My Seat</title>
</head>

<body>
  <div>
    <ul>
      <li><a href="editor.html">Map Editor</a></li>
    </ul>
  </div>
  <div class="footer">
    <a href="https://chronicle.horizon.ac.uk/terms.html">Terms &amp; Conditions</a> |
    <a href="https://chronicle.horizon.ac.uk/terms.html">Privacy Policy</a> |
    <a href="https://chronicle.horizon.ac.uk/terms.html">Cookie Policy</a>
  </div>

</body>

</html>
