{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <style>
    #map {
      height: 100%;
    }
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .button {
      background-color: #FFFFFF;
      border: 2px solid #FFFFFF;
      border-radius: 3px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
      cursor: pointer;
      margin-top: 5px;
      text-align: center;
    }
    .button:hover {
      background-color: #CECECE;
    }
    .button-text {
      color: rgb(25, 25, 25);
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      padding-left: 5px;
      padding-right: 5px;
    }
  </style>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Editor | In My Seat</title>
</head>

<body>

  <div id="map"></div>
  <script src="{% static 'js/map.js' %}"></script>

  <input id="kml-input" type="file" name="kml-input" style="display: none;" />
  <input id="load-map-input" type="file" name="load-map-input" style="display: none;" />

</body>

</html>
